body {
  font-family: "Poppins", sans-serif;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 30px;
}

.cabecalho .logo {
  width: 65px;
}

.cabecalho .menu {
  align-items: center;
  display: flex;
  height: 100%;
}

.cabecalho nav li a {
  border-radius: 50px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.3s;
}

.cabecalho nav li a:hover {
  background-color: #5fb9a6;
}

.container {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  height: calc(100vh - 132px);
  padding: 0 30px 30px;
}

.link {
  max-width:400px;
}

.container .imagem-titulo {
  max-width: 320px;
}

.container .descricao {
  color: #a8abb7;
  font-size: 18px;
  margin: 30px 0;
  width: 65%;
}

.container .botao-trailer {
  background-color: #5fb9a6;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  text-transform: uppercase;
  transition: 0.4s all ease-in-out;
}

.container .botao-trailer:hover {
  transform: scale(1.1);
}

.fundo-video {
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  width: 100vw;
  z-index: -1;
}

.fundo-video .video {
  height: 100vh;
}

.fundo-video::after {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  content: "";
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(52, 52, 50, 0.749);
  opacity: 0;
  visibility: hidden;
}

.conteudo-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  border-radius: 5px;
  gap: 15px;
}

.fechar-modal {
  background-color: #ffffff;
  color: #5fb9a6;
  font-size: 20px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}

.modal iframe {
  border-width: 0;
  width: 640px;
  height: 360px;
}

.modal.aberto {
  opacity: 1;
  visibility: visible;
}
